<header class="
h-screen
bg-[url('/Volumes/Data/Documents/FrontendDocs/sunnyside-agency-landing-page/sunnyside-landing-page/public/images/desktop/image-header.jpg')]
bg-cover"
>
<div>
    <div>
        <img src="/Volumes/Data/Documents/FrontendDocs/sunnyside-agency-landing-page/sunnyside-landing-page/public/images/logo.svg"
        class="w-40">
    </div>
    <nav>
        <div></div>
        <div></div>
        <div></div>
        <button></button>
    </nav>
</div>
</header>