---
// import services from "../../config/services.json";
---

<div class="grid grid-cols-2 h-full max-sm:grid-cols-1">

			<div class="flex justify-center items-center">
				<div class="flex flex-col border-2 border-red-600">
					<!-- <img src={service.image} /> -->
					<h3>Transform your brand</h3>
					<p>We are a full-service creative agency specializing in helping brands grow fast. Engage your  clients through compelling visuals that do most of the marketing for you</p>
					<p>learn more</p>
				</div>
			</div>

            <div class="flex justify-center items-center max-sm:h-80">
				<div class="flex flex-col border-2 border-red-600">
					<img src="../../public/images/desktop/image-transform.jpg"/>
				</div>
			</div>

            <div class="flex justify-center items-center">
				<div class="flex flex-col border-2 border-red-600">
					<img src="../../public/images/desktop/image-stand-out.jpg"/>
				</div>
			</div>

            <div class="flex justify-center items-center">
				<div class="flex flex-col border-2 border-red-600">
					<h3>Stand out to the right audience</h3>
					<p>Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we'll build and extend your brand in digital places</p>
					<p>learn more</p>
				</div>
			</div>

            <div class="flex justify-center items-center">
				<div class="flex flex-col border-2 border-red-600">
                    <img src="../../public/images/desktop/image-graphic-design.jpg" alt="">
					<h3>Graphic Design</h3>
					<p>Grant design makes you memorable. We deliver artwork that underscores your brand message and captures potential client's attention</p>
				</div>
			</div>

            <div class="flex justify-center items-center">
				<div class="flex flex-col border-2 border-red-600">
                    <img src="../../public/images/desktop/image-photography.jpg" alt="">
					<h3>Photography</h3>
					<p>Increase your credability by getting the most stunning, high-quality photos that improve your business image.</p>
				</div>
			</div>

</div>
